In [1]:
import pandas as pd
import numpy as np
%matplotlib inline

In [2]:
X = pd.read_csv('train.csv')

In [3]:
len(X)

891

In [6]:
X.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [7]:
print(len(X[X['Age'].isnull()]))
print(len(X[X['Cabin'].isnull()]))
print(len(X[X['Embarked'].isnull()]))
np.mean(X['Age'])

177
687
2

29.69911764705882

In [8]:
#dropping 'Cabin', Name, ticket from the model completely, dropping NA's from 'embarked'
X = X[['PassengerId','Survived',
 'Pclass',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Embarked',      
 'Fare']]

X['Embarked'] = X['Embarked'].fillna(value = 'S')

In [9]:
#filling in avaegare age for missing values in age column

X['Age'].fillna(value = 29, inplace = True)

In [10]:
print(len(X[X['Age'].isnull()]))
#print(len(X[X['Embarked'].isnull()]))

0

In [11]:
data = X

In [12]:
y = X['Survived']

In [13]:
X = X[['PassengerId',
 'Pclass',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Embarked']]

In [14]:
print(X.shape)
print(y.shape)

(891, 7)
(891,)

In [15]:
X.dtypes

PassengerId      int64
Pclass           int64
Sex             object
Age            float64
SibSp            int64
Parch            int64
Embarked        object
dtype: object

In [16]:
X['Sex'] = X['Sex'].astype('category')
X['Embarked'] = X['Embarked'].astype('category')

C:\Users\NNS0312\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\NNS0312\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
X = pd.get_dummies(X, columns=['Sex', 'Embarked'])

In [18]:
print(X.shape)
print(y.shape)

(891, 10)
(891,)

In [19]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

C:\Users\NNS0312\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [28]:
#let's try logistic regression model from sklearn

from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()

In [29]:
#fit the training set to the instance
logreg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [30]:
#predict
y_pred = logreg.predict(X_test)

In [31]:
print(y_pred) # THIS IS THE LOGREG version

[0 1 0 0 1 1 0 1 1 0 0 0 1 0 0 1 1 1 1 0 0 0 1 0 1 1 0 0 1 0 1 0 1 1 0 0 0
 1 0 0 1 1 0 0 0 1 0 0 1 0 1 0 1 0 1 0 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0 1
 1 0 0 1 0 1 0 0 1 0 1 0 1 0 0 0 1 1 0 0 1 1 1 1 1 1 1 0 1 0 0 0 1 0 0 0 0
 0 0 1 1 0 1 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 1 0 1 1 1 0 0 1 0 0 1 0 0 1 0 1
 0 0 0 1 1 0 0 0 0 1 0 1 1 1 1 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 1 0
 1 0 0 1 0 1 0 0 0 0 0 1 0 1 0 0 0 0 1 0 1 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1
 0]

In [34]:
#Let's evaluate the model using RMSE
from sklearn import metrics

print(np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print(metrics.accuracy_score(y_test, y_pred))

0.433982496392
0.811659192825

In [344]:
X_new = pd.read_csv('test.csv')   
X_new = X_new[['PassengerId',
 'Pclass',
 'Sex',
 'Age',
 'SibSp',
 'Embarked',
 'Parch']]

X_new['Embarked'] = X_new['Embarked'].fillna(value = 'S')

In [345]:
X_new.isnull().any()

PassengerId    False
Pclass         False
Sex            False
Age             True
SibSp          False
Embarked       False
Parch          False
dtype: bool

In [346]:
X_newMeanAge = np.mean(X_new['Age'])
X_new['Age'].fillna(value = X_newMeanAge,inplace = True)

In [347]:
X_new.dtypes

PassengerId      int64
Pclass           int64
Sex             object
Age            float64
SibSp            int64
Embarked        object
Parch            int64
dtype: object

In [348]:
X_new['Sex'] = X_new['Sex'].astype('category')
X_new['Embarked'] = X_new['Embarked'].astype('category')

In [349]:
X_new = pd.get_dummies(X_new, columns=['Sex', 'Embarked'])

In [350]:
print(X_new.shape)

(418, 10)

In [351]:
y_pred = logreg.predict(X_new)

In [352]:
y_pred = pd.Series(y_pred)

In [353]:

X_new['Survived'] = y_pred
final = X_new[['PassengerId' , 'Survived']]
final

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         1
19           911         1
20           912         0
21           913         0
22           914         1
23           915         1
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         1
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [354]:
final.to_csv('final.csv', index = False)